
    <!-- item -->
    <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-3">
        <img src="../img/cabos/Detona.png" class="img-thumbnail"/>
      </div>
      <div class="col-sm-8 text-info">
        <p><b>Descrição:</b>

          Detoma half é im desenho muito legal, onde eu assiti mais de 100 vezes
        
        </p>
        <p><b>Local armazenado:</b>
        
          Caixa no sotom
        
        </p>
        <p><b>Palavras chave:</b>
        
          Filme, detona, desenho, está funcionando etc.
        
        </p>

      </div>
    </div>
    <hr>  <!-- Fim do item -->
