
    <!-- item -->
    <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-3">
        <img src="[[href-img-item]]" class="img-thumbnail"/>
      </div>
      <div class="col-sm-8 text-info">
        <p><b>Descrição:</b>

          [[descricao-item]]
        
        </p>
        <p><b>Local armazenado:</b>
        
          [[local-item]]
        
        </p>
        <p><b>Palavras chave:</b>
        
          [[palavra-chave-item]]
        
        </p>

      </div>
    </div>
    <hr>  <!-- Fim do item -->
