
    <!-- item -->
    <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-3">
        <img src="[[href-img-item]]" class="img-thumbnail"/>
      </div>
      <div class="col-sm-8 text-info">
        <p><b>Descrição:</b>
            [[descricao-item]]
        </p>
        <p>
          <div class="container">
            <ul class="nav nav-tabs nav-tabs-border-color:gray-300">
              <li class="active"><a data-toggle="tab" href="#desc-local-[[num-local-item]]">Local armazenado</a></li>
              <li><a data-toggle="tab" href="#img-local-[[num-local-item]]">Imagem local</a></li>
            </ul>
            <div class="tab-content " >
              <div id="desc-local-[[num-local-item]]" class="tab-pane fade in active">
                <br>
                <p>[[local-item]]</p>
              </div>
              <div id="img-local-[[num-local-item]]" class="tab-pane fade">
                <img src="[[href-img-local]]" class="img-thumbnail" height="50%" width="50%"/>
              </div>
            </div>
          </div>
        </p>
        <p><b>Palavras chave:</b>
            [[palavra-chave-item]]
        </p>
      </div>
    </div>
    <hr>  <!-- Fim do item -->
