<!DOCTYPE html>
<html lang="en">
<head>
  <title>FSilva-Itens</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>

<div class="panel panel-default">
  <div class="panel-heading">
    <div class="text-center text-info">
      <h1>Inventário Família Silva</h1>
      <h4>Este invetário é sobre itens que a Família Silva tem e onde estão guardados</h4> 
    </div>
  </div>  
</div>

<div class="container">

  <h2 class="text-info">

    Audio & Videos

  </h2>

  <div class="list-group">

      
    <!-- item -->
    <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-3">

           

        <div class="col">
          <div id="Carousel0" class="carousel slide pause" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">

                 

              <li data-target="#Carousel0" data-slide-to="0" class="active"></li>
   

              <li data-target="#Carousel0" data-slide-to="1" ></li>
   

              <li data-target="#Carousel0" data-slide-to="2" ></li>
   

              <li data-target="#Carousel0" data-slide-to="3" ></li>


            </ol>
        
            <!-- Wrapper for slides -->
            <div class="carousel-inner">

              
              <div class="item active">
                <img src="../img/audioVideo/cameraItensIntelbras.jpg" class="img-thumbnail"/>
              </div>

              <div class="item ">
                <img src="../img/audioVideo/Extra/cameraItensIntelbras/20230715_125925.jpg" class="img-thumbnail"/>
              </div>

              <div class="item ">
                <img src="../img/audioVideo/Extra/cameraItensIntelbras/20230715_125953.jpg" class="img-thumbnail"/>
              </div>

              <div class="item ">
                <img src="../img/audioVideo/Extra/cameraItensIntelbras/caixaArmazenando.jpg" class="img-thumbnail"/>
              </div>


            </div>
        
            <!-- Left and right controls FIXO -->
            <a class="left carousel-control" href="#Carousel0" data-slide="prev">
              <span class="glyphicon glyphicon-chevron-left"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#Carousel0" data-slide="next">
              <span class="glyphicon glyphicon-chevron-right"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        
          <!-- Play buttons em cada carroaael -->
          <div id="carouselButtons">
            <button id="playButton" type="button" class="btn btn-default btn-xs" onclick="estadoCarrossel('0', '#Carousel0', 'On', 'cycle')">
                <span class="glyphicon glyphicon-play"></span>
            </button>
            <button id="pauseButton" type="button" class="btn btn-default btn-xs" onclick="estadoCarrossel('0', '#Carousel0', 'Off', 'pause')">
                <span class="glyphicon glyphicon-pause"></span>
            </button>
            <span id="statusCarousel0">Off</span>
          </div>
        
        
        
        </div>


      </div>
      <div class="col-sm-8 text-info">
        <p><b>Descrição:</b>
            Spliter HDMI com RX e TX via RJ45 usado no decoder das câmeras da intelbras, com fonte de alimentação
        </p>
        <p>
          <div class="container">
            <ul class="nav nav-tabs nav-tabs-border-color:gray-300">
              <li class="active"><a data-toggle="tab" href="#desc-local-1">Local armazenado</a></li>
              <li><a data-toggle="tab" href="#img-local-1">Imagem local</a></li>
            </ul>
            <div class="tab-content " >
              <div id="desc-local-1" class="tab-pane fade in active">
                <br>
                <p>Caixa de plástico vazada com número <b>2</b> e está no Sotom</p>
              </div>
              <div id="img-local-1" class="tab-pane fade">
                <img src="../img/audioVideo/local/caixa2-VazadaIntelbras.jpg" class="img-thumbnail" height="50%" width="50%"/>
              </div>
            </div>
          </div>
        </p>
        <p><b>Palavras chave:</b>
            Intelbras, Rx/Tx, RJ45
        </p>
      </div>
    </div>
    <hr>  <!-- Fim do item -->

    <!-- item -->
    <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-3">

           
        <img src="../img/audioVideo/amplificadorRCA.jpeg" class="img-thumbnail"/>



      </div>
      <div class="col-sm-8 text-info">
        <p><b>Descrição:</b>
            Amplificador RCA. Sendo utilizado na TV da sala para receber o sinal RCA e distribuir nas caixas das paredes
        </p>
        <p>
          <div class="container">
            <ul class="nav nav-tabs nav-tabs-border-color:gray-300">
              <li class="active"><a data-toggle="tab" href="#desc-local-2">Local armazenado</a></li>
              <li><a data-toggle="tab" href="#img-local-2">Imagem local</a></li>
            </ul>
            <div class="tab-content " >
              <div id="desc-local-2" class="tab-pane fade in active">
                <br>
                <p>Sendo usado atrás da TV da sala</p>
              </div>
              <div id="img-local-2" class="tab-pane fade">
                <img src="../img/audioVideo/local/sem-imagem.jpg" class="img-thumbnail" height="50%" width="50%"/>
              </div>
            </div>
          </div>
        </p>
        <p><b>Palavras chave:</b>
            RCA, Amplificador
        </p>
      </div>
    </div>
    <hr>  <!-- Fim do item -->

    <!-- item -->
    <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-3">

           
        <img src="../img/audioVideo/capturaHDMIparaUSB.jpeg" class="img-thumbnail"/>



      </div>
      <div class="col-sm-8 text-info">
        <p><b>Descrição:</b>
            Captura: entrada HDMI saída USB
        </p>
        <p>
          <div class="container">
            <ul class="nav nav-tabs nav-tabs-border-color:gray-300">
              <li class="active"><a data-toggle="tab" href="#desc-local-3">Local armazenado</a></li>
              <li><a data-toggle="tab" href="#img-local-3">Imagem local</a></li>
            </ul>
            <div class="tab-content " >
              <div id="desc-local-3" class="tab-pane fade in active">
                <br>
                <p>Caixa de plástico vazada com número <b>2</b> e está no Sotom (dentro da caixa Lvpin preta/laranja)</p>
              </div>
              <div id="img-local-3" class="tab-pane fade">
                <img src="../img/audioVideo/local/caixa2-Vazada.jpg" class="img-thumbnail" height="50%" width="50%"/>
              </div>
            </div>
          </div>
        </p>
        <p><b>Palavras chave:</b>
            Captura, video
        </p>
      </div>
    </div>
    <hr>  <!-- Fim do item -->

    <!-- item -->
    <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-3">

           
        <img src="../img/audioVideo/switch-3Entradas-1SaidaHDMI.jpg" class="img-thumbnail"/>



      </div>
      <div class="col-sm-8 text-info">
        <p><b>Descrição:</b>
            Switch HDMI - 3 entradas HDMI para 1 saída HDMI, com seletor de entrada
        </p>
        <p>
          <div class="container">
            <ul class="nav nav-tabs nav-tabs-border-color:gray-300">
              <li class="active"><a data-toggle="tab" href="#desc-local-4">Local armazenado</a></li>
              <li><a data-toggle="tab" href="#img-local-4">Imagem local</a></li>
            </ul>
            <div class="tab-content " >
              <div id="desc-local-4" class="tab-pane fade in active">
                <br>
                <p>Caixa de plástico vazada com número <b>2</b> e está no Sotom (dentro da caixa Lvpin preta/laranja)</p>
              </div>
              <div id="img-local-4" class="tab-pane fade">
                <img src="../img/audioVideo/local/caixa2-Vazada.jpg" class="img-thumbnail" height="50%" width="50%"/>
              </div>
            </div>
          </div>
        </p>
        <p><b>Palavras chave:</b>
            Switch, HDMI
        </p>
      </div>
    </div>
    <hr>  <!-- Fim do item -->

    <!-- item -->
    <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-3">

           
        <img src="../img/audioVideo/aquario-TVparaHDMI.jpg" class="img-thumbnail"/>



      </div>
      <div class="col-sm-8 text-info">
        <p><b>Descrição:</b>
            Aquario - conversor de sinal de TV analógico para HDMI
        </p>
        <p>
          <div class="container">
            <ul class="nav nav-tabs nav-tabs-border-color:gray-300">
              <li class="active"><a data-toggle="tab" href="#desc-local-5">Local armazenado</a></li>
              <li><a data-toggle="tab" href="#img-local-5">Imagem local</a></li>
            </ul>
            <div class="tab-content " >
              <div id="desc-local-5" class="tab-pane fade in active">
                <br>
                <p>Caixa de plástico vazada com número <b>2</b> e está no Sotom (dentro da caixa Lvpin preta/laranja)</p>
              </div>
              <div id="img-local-5" class="tab-pane fade">
                <img src="../img/audioVideo/local/caixa2-Vazada.jpg" class="img-thumbnail" height="50%" width="50%"/>
              </div>
            </div>
          </div>
        </p>
        <p><b>Palavras chave:</b>
            HDMI
        </p>
      </div>
    </div>
    <hr>  <!-- Fim do item -->

    <!-- item -->
    <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-3">

           
        <img src="../img/audioVideo/conversorMiniHDMIparaRCA.jpeg" class="img-thumbnail"/>



      </div>
      <div class="col-sm-8 text-info">
        <p><b>Descrição:</b>
            Mini Conversor de HDMI para RCA
        </p>
        <p>
          <div class="container">
            <ul class="nav nav-tabs nav-tabs-border-color:gray-300">
              <li class="active"><a data-toggle="tab" href="#desc-local-6">Local armazenado</a></li>
              <li><a data-toggle="tab" href="#img-local-6">Imagem local</a></li>
            </ul>
            <div class="tab-content " >
              <div id="desc-local-6" class="tab-pane fade in active">
                <br>
                <p>Caixa de plástico vazada com número <b>2</b> e está no Sotom</p>
              </div>
              <div id="img-local-6" class="tab-pane fade">
                <img src="../img/audioVideo/local/caixa2-Vazada.jpg" class="img-thumbnail" height="50%" width="50%"/>
              </div>
            </div>
          </div>
        </p>
        <p><b>Palavras chave:</b>
            HDMI, RCA
        </p>
      </div>
    </div>
    <hr>  <!-- Fim do item -->

    <!-- item -->
    <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-3">

           
        <img src="../img/audioVideo/conversorOpticoAudio.jpg" class="img-thumbnail"/>



      </div>
      <div class="col-sm-8 text-info">
        <p><b>Descrição:</b>
            Conversor de audio óptico para RCA
        </p>
        <p>
          <div class="container">
            <ul class="nav nav-tabs nav-tabs-border-color:gray-300">
              <li class="active"><a data-toggle="tab" href="#desc-local-7">Local armazenado</a></li>
              <li><a data-toggle="tab" href="#img-local-7">Imagem local</a></li>
            </ul>
            <div class="tab-content " >
              <div id="desc-local-7" class="tab-pane fade in active">
                <br>
                <p>Caixa de plástico vazada com número <b>2</b> e está no Sotom</p>
              </div>
              <div id="img-local-7" class="tab-pane fade">
                <img src="../img/audioVideo/local/caixa2-Vazada.jpg" class="img-thumbnail" height="50%" width="50%"/>
              </div>
            </div>
          </div>
        </p>
        <p><b>Palavras chave:</b>
            Conversor, óptico
        </p>
      </div>
    </div>
    <hr>  <!-- Fim do item -->

    <!-- item -->
    <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-3">

           
        <img src="../img/audioVideo/conversorTV-RCA.jpg" class="img-thumbnail"/>



      </div>
      <div class="col-sm-8 text-info">
        <p><b>Descrição:</b>
            Conversor sinal de TV analógico para TV e RCA
        </p>
        <p>
          <div class="container">
            <ul class="nav nav-tabs nav-tabs-border-color:gray-300">
              <li class="active"><a data-toggle="tab" href="#desc-local-8">Local armazenado</a></li>
              <li><a data-toggle="tab" href="#img-local-8">Imagem local</a></li>
            </ul>
            <div class="tab-content " >
              <div id="desc-local-8" class="tab-pane fade in active">
                <br>
                <p>Caixa de plástico vazada com número <b>2</b> e está no Sotom</p>
              </div>
              <div id="img-local-8" class="tab-pane fade">
                <img src="../img/audioVideo/local/caixa2-Vazada.jpg" class="img-thumbnail" height="50%" width="50%"/>
              </div>
            </div>
          </div>
        </p>
        <p><b>Palavras chave:</b>
            HDMI, óptico
        </p>
      </div>
    </div>
    <hr>  <!-- Fim do item -->

    <!-- item -->
    <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-3">

           
        <img src="../img/audioVideo/switch-3Entradas-1SaidaRCA.jpg" class="img-thumbnail"/>



      </div>
      <div class="col-sm-8 text-info">
        <p><b>Descrição:</b>
            Switch RCA - 3 entradas RCA para 1 saída RCA, com seletor de entrada
        </p>
        <p>
          <div class="container">
            <ul class="nav nav-tabs nav-tabs-border-color:gray-300">
              <li class="active"><a data-toggle="tab" href="#desc-local-9">Local armazenado</a></li>
              <li><a data-toggle="tab" href="#img-local-9">Imagem local</a></li>
            </ul>
            <div class="tab-content " >
              <div id="desc-local-9" class="tab-pane fade in active">
                <br>
                <p>Caixa de plástico vazada com número <b>2</b> e está no Sotom</p>
              </div>
              <div id="img-local-9" class="tab-pane fade">
                <img src="../img/audioVideo/local/caixa2-Vazada.jpg" class="img-thumbnail" height="50%" width="50%"/>
              </div>
            </div>
          </div>
        </p>
        <p><b>Palavras chave:</b>
            RCA, Seletor, Switch
        </p>
      </div>
    </div>
    <hr>  <!-- Fim do item -->

    <!-- item -->
    <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-3">

           
        <img src="../img/audioVideo/receptorTransmissorBluetooth5.0.jpeg" class="img-thumbnail"/>



      </div>
      <div class="col-sm-8 text-info">
        <p><b>Descrição:</b>
            Receptor e transmissor Bluetooth com sída RCA e P3
        </p>
        <p>
          <div class="container">
            <ul class="nav nav-tabs nav-tabs-border-color:gray-300">
              <li class="active"><a data-toggle="tab" href="#desc-local-10">Local armazenado</a></li>
              <li><a data-toggle="tab" href="#img-local-10">Imagem local</a></li>
            </ul>
            <div class="tab-content " >
              <div id="desc-local-10" class="tab-pane fade in active">
                <br>
                <p>Caixa de plástico vazada com número <b>2</b> e está no Sotom</p>
              </div>
              <div id="img-local-10" class="tab-pane fade">
                <img src="../img/audioVideo/local/caixa2-Vazada.jpg" class="img-thumbnail" height="50%" width="50%"/>
              </div>
            </div>
          </div>
        </p>
        <p><b>Palavras chave:</b>
            Bluetooth, recepção, transmissão, RCA
        </p>
      </div>
    </div>
    <hr>  <!-- Fim do item -->


  </div>  <!-- Fim do div da lista -->
  <br>
</div>


<script>

    window.onload = function pauseCarrossel() {
          for (let index = 0; index < 1; index++) {
            const element = '#Carousel'+index;
            $(element).carousel('pause');
          }
    }
  
    function estadoCarrossel(numCarrossel, idCarrossel, txtEstado, cmdEstado) {
        
      $(idCarrossel).carousel(cmdEstado);
      document.querySelector('#statusCarousel'+numCarrossel).textContent = txtEstado;
      
    }
  
  </script>
  


</body>
</html>
