<!DOCTYPE html>
<html lang="en">
<head>
  <title>FSilva-Itens</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>

<div class="panel panel-default">
  <div class="panel-heading">
    <div class="text-center text-info">
      <h1>Inventário Família Silva</h1>
      <h4>Este invetário é sobre itens que a Família Silva tem e onde estão guardados</h4> 
    </div>
  </div>  
</div>

<div class="container">

  <h2 class="text-info">

    Cabos

  </h2>

  <div class="list-group">

      
    <!-- item -->
    <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-3">

           

        <div class="col">
          <div id="Carousel0" class="carousel slide pause" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">

                 

              <li data-target="#Carousel0" data-slide-to="0" class="active"></li>
   

              <li data-target="#Carousel0" data-slide-to="1" ></li>
   

              <li data-target="#Carousel0" data-slide-to="2" ></li>
   

              <li data-target="#Carousel0" data-slide-to="3" ></li>
   

              <li data-target="#Carousel0" data-slide-to="4" ></li>


            </ol>
        
            <!-- Wrapper for slides -->
            <div class="carousel-inner">

              
              <div class="item active">
                <img src="../img/cabos/Extra/AlicateSH/alicate01.webp" class="img-thumbnail"/>
              </div>

              <div class="item ">
                <img src="../img/cabos/Extra/AlicateSH/alicate02.webp" class="img-thumbnail"/>
              </div>

              <div class="item ">
                <img src="../img/cabos/Extra/AlicateSH/alicate03.webp" class="img-thumbnail"/>
              </div>

              <div class="item ">
                <img src="../img/cabos/Extra/AlicateSH/alicate04.webp" class="img-thumbnail"/>
              </div>

              <div class="item ">
                <img src="../img/cabos/Extra/AlicateSH/alicate05.jpg" class="img-thumbnail"/>
              </div>


            </div>
        
            <!-- Left and right controls FIXO -->
            <a class="left carousel-control" href="#Carousel0" data-slide="prev">
              <span class="glyphicon glyphicon-chevron-left"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#Carousel0" data-slide="next">
              <span class="glyphicon glyphicon-chevron-right"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        
          <!-- Play buttons em cada carroaael -->
          <div id="carouselButtons">
            <button id="playButton" type="button" class="btn btn-default btn-xs" onclick="estadoCarrossel('0', '#Carousel0', 'On', 'cycle')">
                <span class="glyphicon glyphicon-play"></span>
            </button>
            <button id="pauseButton" type="button" class="btn btn-default btn-xs" onclick="estadoCarrossel('0', '#Carousel0', 'Off', 'pause')">
                <span class="glyphicon glyphicon-pause"></span>
            </button>
            <span id="statusCarousel0">Off</span>
          </div>
        
        
        
        </div>


      </div>
      <div class="col-sm-8 text-info">
        <p><b>Descrição:</b>
            Cabo de conexão HDMI nas duas pontas
        </p>
        <p>
          <div class="container">
            <ul class="nav nav-tabs nav-tabs-border-color:gray-300">
              <li class="active"><a data-toggle="tab" href="#desc-local-1">Local armazenado</a></li>
              <li><a data-toggle="tab" href="#img-local-1">Imagem local</a></li>
            </ul>
            <div class="tab-content " >
              <div id="desc-local-1" class="tab-pane fade in active">
                <br>
                <p>Sotom</p>
              </div>
              <div id="img-local-1" class="tab-pane fade">
                <img src="../img/cabos/local/20190207_183200.jpg" class="img-thumbnail" height="50%" width="50%"/>
              </div>
            </div>
          </div>
        </p>
        <p><b>Palavras chave:</b>
            HDMI, Cabo, Conexão
        </p>
      </div>
    </div>
    <hr>  <!-- Fim do item -->

    <!-- item -->
    <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-3">

           
        <img src="../img/cabos/Detona.png" class="img-thumbnail"/>



      </div>
      <div class="col-sm-8 text-info">
        <p><b>Descrição:</b>
            Cabo de força três pinos (antigo)
        </p>
        <p>
          <div class="container">
            <ul class="nav nav-tabs nav-tabs-border-color:gray-300">
              <li class="active"><a data-toggle="tab" href="#desc-local-2">Local armazenado</a></li>
              <li><a data-toggle="tab" href="#img-local-2">Imagem local</a></li>
            </ul>
            <div class="tab-content " >
              <div id="desc-local-2" class="tab-pane fade in active">
                <br>
                <p>Quarto garagem</p>
              </div>
              <div id="img-local-2" class="tab-pane fade">
                <img src="../img/cabos/local/20190207_183200.jpg" class="img-thumbnail" height="50%" width="50%"/>
              </div>
            </div>
          </div>
        </p>
        <p><b>Palavras chave:</b>
            Cabo, força, eletricidade
        </p>
      </div>
    </div>
    <hr>  <!-- Fim do item -->

    <!-- item -->
    <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-3">

           
        <img src="../img/cabos/Detona.png" class="img-thumbnail"/>



      </div>
      <div class="col-sm-8 text-info">
        <p><b>Descrição:</b>
            Cabo de de teste para multimetro e/ou fonte de bancada
        </p>
        <p>
          <div class="container">
            <ul class="nav nav-tabs nav-tabs-border-color:gray-300">
              <li class="active"><a data-toggle="tab" href="#desc-local-3">Local armazenado</a></li>
              <li><a data-toggle="tab" href="#img-local-3">Imagem local</a></li>
            </ul>
            <div class="tab-content " >
              <div id="desc-local-3" class="tab-pane fade in active">
                <br>
                <p>Em uso no multimetro amarelo</p>
              </div>
              <div id="img-local-3" class="tab-pane fade">
                <img src="../img/cabos/local/20190207_183200.jpg" class="img-thumbnail" height="50%" width="50%"/>
              </div>
            </div>
          </div>
        </p>
        <p><b>Palavras chave:</b>
            Teste, força, eletricidade
        </p>
      </div>
    </div>
    <hr>  <!-- Fim do item -->


  </div>  <!-- Fim do div da lista -->
  <br>
</div>


<script>

    window.onload = function pauseCarrossel() {
          for (let index = 0; index < 1; index++) {
            const element = '#Carousel'+index;
            $(element).carousel('pause');
          }
    }
  
    function estadoCarrossel(numCarrossel, idCarrossel, txtEstado, cmdEstado) {
        
      $(idCarrossel).carousel(cmdEstado);
      document.querySelector('#statusCarousel'+numCarrossel).textContent = txtEstado;
      
    }
  
  </script>
  


</body>
</html>
