<!DOCTYPE html>
<html lang="en">
<head>
  <title>FSilva-Itens</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>

<div class="panel panel-default">
  <div class="panel-heading">
    <div class="text-center text-info">
      <h1>Inventário Família Silva</h1>
      <h4>Este invetário é sobre itens que a Família Silva tem e onde estão guardados</h4> 
    </div>
  </div>  
</div>

<div class="container">

  <h2 class="text-info">

    Equipamentos

  </h2>

  <div class="list-group">

      
    <!-- item -->
    <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-3">

           
        <img src="../img/equipamentos/Detona.png" class="img-thumbnail"/>



      </div>
      <div class="col-sm-8 text-info">
        <p><b>Descrição:</b>
            Serra marmore (Maquita)
        </p>
        <p>
          <div class="container">
            <ul class="nav nav-tabs nav-tabs-border-color:gray-300">
              <li class="active"><a data-toggle="tab" href="#desc-local-1">Local armazenado</a></li>
              <li><a data-toggle="tab" href="#img-local-1">Imagem local</a></li>
            </ul>
            <div class="tab-content " >
              <div id="desc-local-1" class="tab-pane fade in active">
                <br>
                <p>Em uma caixa de platico no Quatinho da garagem</p>
              </div>
              <div id="img-local-1" class="tab-pane fade">
                <img src="../img/equipamentos/local/20190207_183200.jpg" class="img-thumbnail" height="50%" width="50%"/>
              </div>
            </div>
          </div>
        </p>
        <p><b>Palavras chave:</b>
            Maquita, serra marmore, etc
        </p>
      </div>
    </div>
    <hr>  <!-- Fim do item -->


  </div>  <!-- Fim do div da lista -->
  <br>
</div>

[[script-carrossel-imagem]]

</body>
</html>
