<!DOCTYPE html>
<html lang="en">
<head>
  <title>FSilva-Itens</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>

<div class="panel panel-default">
  <div class="panel-heading">
    <div class="text-center text-info">
      <h1>Inventário Família Silva</h1>
      <h4>Este invetário é sobre itens que a Família Silva tem e onde estão guardados</h4> 
    </div>
  </div>  
</div>

<div class="container">

    <!-- 
      Seção CABOS 
    -->

  <h2 class="text-info">
    Cabos
  </h2>
  <div class="list-group">

    <!-- item -->
    <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-3">
        <img src="../../img/cabos/Detona.png" class="img-thumbnail"/>
      </div>
      <div class="col-sm-8 text-info">
        <p><b>Descrição:</b>

          Detoma half é im desenho muito legal, onde eu assiti mais de 100 vezes
        
        </p>
        <p><b>Local armazenado:</b>
        
          Caixa no sotom
        
        </p>
        <p><b>Palavras chave:</b>
        
          Filme, detona, desenho, está funcionando etc.
        
        </p>

      </div>
    </div>
    <hr>  <!-- Fim do item -->

    <!-- item -->
    <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-3">
        <img src="../../img/cabos/Detona.png" class="img-thumbnail"/>
      </div>
      <div class="col-sm-8 text-info">
        <p><b>Descrição:</b>

          Detoma half é im desenho muito legal, onde eu assiti mais de 100 vezes
        
        </p>
        <p><b>Local armazenado:</b>
        
          Caixa no sotom
        
        </p>
        <p><b>Palavras chave:</b>
        
          Filme, detona, desenho, está funcionando etc.
        
        </p>

      </div>
    </div>
    <hr>  <!-- Fim do item -->

  </div>  <!-- Fim do div da lista de cabos -->
  <br>

</div>

</body>
</html>
